:root {
  --timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  --animation-duration: 250ms;
}

.gallery {
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
  max-width: 1280px;
  /* max-width: 1140px;
  grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
  grid-auto-rows: 395px;
  grid-gap: 12px; */
  /* justify-content: center; */
  margin-left: auto;
  margin-right: auto;
  padding-left: 32px;
  padding-right: 32px;
}

.is-active {
  background-color: #ff6b01;
  pointer-events: none;
}

img {
  display: block;
  max-width: 100%;
  height: 100%;
  width: 100%;
}

.film-card {
  display: flex;
  max-width: 100%;
  flex-basis: 32%;
  flex-direction: column;
}

.info-item {
  font-size: 18px;
}

.btn-wrap {
  display: flex;
  justify-content: center;
}
